@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.UphoriaText{
    font-family: "Times New Roman";
    /* text-shadow: 0px 4px 9px #FFFFFF66; */

}

.UphoriaText span {
    font-family: "Cinzel Decorative";
    text-shadow: 0px 3px 10px #F58220;
    text-shadow: 0px 6px 20px 0px #FFAD0E;
    text-shadow: 0px 4px 6px 0px #000000;
}


.EventHeader{
    font-family: "Cinzel Decorative";
    text-transform: uppercase;
    text-shadow: 0px 4px 20px #F58220;
}















.TimelineHeading{
    font-family: "Cinzel Decorative";

    /* Glowing Text */
    text-shadow: 0px 4px 20px #F58220;
}

.EventTime{
    font-family: 'Cinzel';
}

.EventName{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(180deg, #FFAD0E 0%, #F58220 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.eventdate{
    font-family: 'Cinzel';
    color: transparent;
    background: linear-gradient(180deg, #FFAD0E 32.63%, #F58220 103.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Text border */
    -webkit-text-stroke: 2px #FFAD0E;

}

.eventmonth{
    font-family: "Cinzel";
}



.contact-us-header{
    font-family: "Cinzel";
    text-shadow: 0px 6px 10px #FFAD0E80;
}

.contact-us-text{
    font-family: 'Times New Roman', Times, serif;
}

.contact-us-mails{
    font-family: 'Times New Roman', Times, serif;
}

.FAQHeading{
    font-family: "Cinzel";

    /* Glowing Text */
    text-shadow: 0px 4px 20px #F58220;

}
